@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '_fonts';
@import '_variables';
@import '_heartbeat';

@layer base {
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply text-gray-600;
    @apply font-sans;
  }
  body {
    @apply bg-pink-50 bg-opacity-60;
  }

  a {
    @apply text-indigo-400 hover:underline;
  }
  p {
    @apply pb-3 text-gray-600;
    b {
      @apply font-semibold;
    }
  }

  .field.required label:after {
    content:"*";
    margin-left:5px;
    @apply text-red-500;
  }

  input[type="number"].currency-input::-webkit-inner-spin-button,
  input[type="number"].currenty-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .faq-block {
    .MuiAccordion-root {
      .MuiAccordionSummary-content {
        @apply font-semibold text-primary text-left;
      }
    }
  }
}

.formkit-alert.formkit-alert-success {
  @apply text-green-500 text-center text-lg;
}
.formkit-alert.formkit-alert-error {
  @apply text-red-500 text-center text-lg;
}
